- render 'basic' do
  #wrap
    = render "partials/main-navigation"
    #page
      
      %article= yield
      -comments= render "partials/disqus_comments"
    %footer(role="contentinfo")= render "partials/footer"
  = @item[:content_for_javascripts]
  = render "partials/analytics"
  <script type="text/javascript">SyntaxHighlighter.all();</script>

